/* src/index.css */

/* Importing the fonts */
:root {
  --primary-color: #1E293B; /* Dark Blue Gray */
  --secondary-color: #3B82F6; /* Bright Blue */
  --accent-color-2: #10B981; /* Emerald Green */
  --background-color: #F1F5F9; /* Light Gray */
  --card-background: #FFFFFF; /* White */
  --text-color: #334155; /* Slate Gray */
}
  
  @import "tailwindcss";

  /* Custom CSS */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
  }
  /* Header */
header {
  background-color: var(--primary-color);
  color: var(--card-background);
}
/* button {
  background-color: var(--secondary-color);
  color: var(--card-background);
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--accent-color-1);
}

/* Cards */
/* .card {
  background-color: var(--card-background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
} */ */

/* Links */
a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color-2);
}
    /*  Navbar Styling  */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Navbar Styling  */
  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .slide-in {
    animation: slideIn 1s ease-in-out;
  }
  
    /* Navbar Styling  */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
  .bg-light-gray {
    background-color: var(--background-color);
  }
  
  
  .footer {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
/* telegram active green dot */
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .block {
    display: block;
  }
  
  .h-3 {
    height: 0.75rem; /* 3 * 0.25rem */
  }
  
  .w-3 {
    width: 0.75rem; /* 3 * 0.25rem */
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .bg-green-500 {
    background-color: #48bb78; /* Tailwind CSS green-500 */
  }